body {
    background-color: black;
    overflow-x: hidden;
    margin: 0;

    color: #ebebeb;
}

section {
    width: 100vw;
}


* img {
    width: 100%;
}


audio {
    filter: invert(90%);
    height: 2rem;
}




/*
* div {
    border: dashed white 2px;
}
*/






/*------header--------------*/

header {
    position: fixed;
    background-image: linear-gradient(black, rgba(255, 255, 255, 0));
    height: 10rem;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: space-between;

}






/*---------nav-----------*/



nav {
    padding: 2rem;

}



nav a {
    padding: 3rem;
    padding-right: 0;


    color: darkred;
    font-size: 2rem;

    text-decoration: none;

}



/*---------nav slut------*/

#logo {
    width: 4rem;
    height: 4rem;

    background-color: #A01D1D;
    margin: 2rem;


}

/*------header slut--------*/





.splash_img {
    width: 100vw;
    height: 40rem;
}









/*------rød box--------*/



.red_container {
    position: relative;
    left: -3rem;
    top: -4rem;
    background-color: #A01D1D;

    width: 130vw;
    height: 40rem;



    transform: rotate(5deg);
}




.album_preview {

    position: absolute;
    left: 13rem;
    top: 5rem;

    transform: rotate(-5deg);

    width: 74vw;

    display: flex;
    flex-direction: column;

}


/*---------home-------------*/


#home .album_preview_visual {

    display: flex;
    flex-direction: row-reverse;


}

#home .album_preview_txt {
    line-height: 2rem;
    padding: 2rem;
    padding-top: 0;

}

#home .album_preview_txt h2 {
    margin-top: 0;
}

#home .album_preview_audio {

    display: flex;
    justify-content: center;
}

#home .album_img {
    width: 17rem;



}

#home .album_header {
    width: 5rem;
    height: 5rem;


}

#home .album_song_container {
    padding: 2rem;

}

#home .more {

    align-self: flex-end;

    color: white;
    background-color: transparent;
    border-color: transparent;
}


/*------rød box slut----*/



#home .projects {

    height: 47rem;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#home .project_1 {
    margin-right: 2rem;
}

#home .projects h2 {
    text-align: center;
}

#home .projects img {


    width: 20rem;
    border-radius: 50%;
}

/*---------home slut-------*/


/*-----------music-----------*/

#music .album_preview_visual {

    display: flex;
    justify-content: space-between;
    padding: 2rem;


}

#music .album_preview_visual button {

    background-color: transparent;
    border-color: transparent;

    font-size: 1.4rem;
    color: #ebebeb;

}

#music .album_preview_visual button:hover {
    color: #D99236;
    cursor: pointer;
}


#music .intro_txt {
    width: 40rem;
    padding-left: 12rem;
    line-height: 2rem;
}

#music .music_magic {

    margin-left: 10rem;

    width: 75%;
    height: 40rem;
}

#music .music_magic img {
    height: 10rem;
    padding: 1rem;
}

/*-----------music slut------*/




/*---------footer-------*/

footer {

    background-color: #D99236;

    width: 130vw;
    height: 20rem;

    /*    transform: rotate(5deg);
*/
}



/*---------footer slut-------*/
